/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 18, 2025, 10:28:53 AM
    Author     : admin
*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.login-form {
    flex: 1;
    min-width: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffe3d5; /* Màu cam nhạt */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    margin-top: 15px;
    color: #FC6E51; /* Màu cam đậm */
}

.login-form .form-label {
    color: #FC6E51; /* Màu cam đậm */
}

.login-form .form-control {
    border: 1px solid #FC6E51; /* Màu cam đậm */
}

.login-form .btn-primary {
    background-color: #FC6E51; /* Màu cam đậm */
    border-color: #FC6E51; /* Màu cam đậm */
}

.login-form .btn-primary:hover {
    background-color: #d85a3f; /* Màu cam đậm hơn cho hover */
    border-color: #d85a3f; /* Màu cam đậm hơn cho hover */
}

.form-text a {
    color: #FC6E51; /* Màu cam đậm */
    text-decoration: underline;
}

.error {
    color: #d85a3f; /* Màu đỏ cam đậm cho thông báo lỗi */
    margin-bottom: 10px;
    font-size: 14px;
}