<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controllers.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressController</servlet-name>
        <servlet-class>Controllers.AddressController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controllers.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controllers.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>Controllers.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodController</servlet-name>
        <servlet-class>Controllers.FoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngredientController</servlet-name>
        <servlet-class>Controllers.IngredientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderApprovalController</servlet-name>
        <servlet-class>Controllers.OrderApprovalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>Controllers.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffOrderController</servlet-name>
        <servlet-class>Controllers.StaffOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffFeedbackController</servlet-name>
        <servlet-class>Controllers.StaffFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutCart</servlet-name>
        <servlet-class>Controllers.CheckOutCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecipeController</servlet-name>
        <servlet-class>Controllers.RecipeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsController</servlet-name>
        <servlet-class>Controllers.StatisticsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>Controllers.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyFeedbackController</servlet-name>
        <servlet-class>Controllers.ReplyFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackReplyController</servlet-name>
        <servlet-class>Controllers.FeedbackReplyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/usercontroller</url-pattern>
        <url-pattern>/login-with-username</url-pattern>
        <url-pattern>/view-users</url-pattern>
        <url-pattern>/view-user-detail</url-pattern>
        <url-pattern>/add-user</url-pattern>
        <url-pattern>/delete-user</url-pattern>
        <url-pattern>/edit-user</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/update-user</url-pattern>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressController</servlet-name>
        <url-pattern>/addresscontroller</url-pattern>
        <url-pattern>/listAddress</url-pattern>
        <url-pattern>/setDefaultAddress</url-pattern>
        <url-pattern>/insertAddress</url-pattern>
        <url-pattern>/updateAddress</url-pattern>
        <url-pattern>/deleteAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cartcontroller</url-pattern>
        <url-pattern>/view-cart</url-pattern>
        <url-pattern>/add-to-cart</url-pattern>
        <url-pattern>/update-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/categorycontroller</url-pattern>
        <url-pattern>/view-categories</url-pattern>
        <url-pattern>/add-category</url-pattern>
        <url-pattern>/edit-category</url-pattern>
        <url-pattern>/delete-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/submitFeedback</url-pattern>
        <url-pattern>/replyFeedback</url-pattern>
        <url-pattern>/editFeedback</url-pattern>
        <url-pattern>/deleteFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodController</servlet-name>
        <url-pattern>/foodcontroller</url-pattern>
        <url-pattern>/all</url-pattern>
        <url-pattern>/view-food-detail</url-pattern>
        <url-pattern>/search-food</url-pattern>
        <url-pattern>/manage-foods</url-pattern>
        <url-pattern>/add-food</url-pattern>
        <url-pattern>/edit-food</url-pattern>
        <url-pattern>/delete-food</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngredientController</servlet-name>
        <url-pattern>/ingredientcontrolller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngredientController</servlet-name>
        <url-pattern>/ingredientcontroller</url-pattern>
        <url-pattern>/view-ingredients</url-pattern>
        <url-pattern>/add-ingredient</url-pattern>
        <url-pattern>/edit-ingredient</url-pattern>
        <url-pattern>/delete-ingredient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderApprovalController</servlet-name>
        <url-pattern>/listOrderApproval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/ordercontroller</url-pattern>
        <url-pattern>/placeOrder</url-pattern>
        <url-pattern>/listOrders</url-pattern>
        <url-pattern>/cancelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffOrderController</servlet-name>
        <url-pattern>/listAdminOrders</url-pattern>
        <url-pattern>/viewOrderDetails</url-pattern>
        <url-pattern>/updateOrderStatus</url-pattern>
        <url-pattern>/searchByPhone</url-pattern>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffFeedbackController</servlet-name>
        <url-pattern>/listStaffFeedbacks</url-pattern>
        <url-pattern>/filterStaffFeedbacks</url-pattern>
        <url-pattern>/viewFeedbackDetails</url-pattern>
        <url-pattern>/replyStaffFeedback</url-pattern>
        <url-pattern>/deleteStaffFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutCart</servlet-name>
        <url-pattern>/checkoutcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecipeController</servlet-name>
        <url-pattern>/manage-recipes</url-pattern>
        <url-pattern>/add-recipe</url-pattern>
        <url-pattern>/edit-recipe</url-pattern>
        <url-pattern>/delete-recipe</url-pattern>
        <url-pattern>/filter-recipes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticsController</servlet-name>
        <url-pattern>/statisticscontroller</url-pattern>
        <url-pattern>/view-statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/GoogleLoginServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>LoginView.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ReplyFeedbackController</servlet-name>
        <url-pattern>/ReplyFeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackReplyController</servlet-name>
        <url-pattern>/FeedbackReplyController</url-pattern>
        <url-pattern>/edit-feedback-reply</url-pattern>
        <url-pattern>/delete-feedback-reply</url-pattern>
        <url-pattern>/staff-edit-feedback-reply</url-pattern>
        <url-pattern>/staff-delete-feedback-reply</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1200
        </session-timeout>
    </session-config>
</web-app>
